@use "../../foundation/global/index" as g;

.p-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 89.3%;
        gap: 1.25rem;//20px
        margin: 0 auto;
        @include g.tab{
        display: grid; 
        width: 86.32%;
        grid-template-columns: 1fr 1fr;
        row-gap: 3.25rem;
        column-gap: 1.25rem;
        }
        @include g.pc{
            width: 85%;
            grid-template-columns: 1fr 1fr 1fr;
        }
        &__cell{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr auto;
            place-items: center;
            align-items: center;
            width: 100%;
            height: 100%;
            padding: 0;
            position: relative;
            z-index: 1000;
        }
        &__image{
            grid-row: 1/2;
            width: 80%;
        }
        &__text{
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
            align-items: center;
            line-height: 1.7rem;
        }
        &__icon{
            display: flex;
            justify-content: center;
        }
    }
