@use "../../foundation/global/index" as g;

.p-header{
    &__inner{
        position: relative;
        width: 100%;
    }

    &__title{
        display: flex;
        font: g.$bold 2.5rem g.$fontR;//40px
        color: g.$color-black;
            @include g.pc{
                margin: 0;
                padding: 0;
                font-size: 4.0rem;//64px
                line-height: 4.6875rem;//75px
                }
        >a{
            cursor: pointer;
            &:link{
                color: g.$color-gray;
                text-decoration: none;
            }
            &:visited{
                color: g.$color-gray;
                text-decoration: none;
            }
            &:hover{
                color: g.$color-gray;
                text-decoration: none;
                text-decoration-color: g.$color-gray;
            }
            &:focus{
                color: g.$color-gray;
                text-decoration: none;
            }
            &:active{
                color: g.$color-gray;
                text-decoration: none;
            } 
        }
    }

    &__nav{ //ヘッダーメニューPCのみ表示
        display: none;
        @include g.pc{
            display: flex;    
            align-items: center;
            margin-right: 1.875rem;
            width: 28rem;
            height: 5.8rem;
            right: 2.5rem;
            top: 4.4%;
            background-color: rgba(239, 239, 239, 0.8);
            position: fixed;
            z-index: 9999;
            border-radius: 10% / 50%;
        }
    }

    &__navarea{
        display: flex;
        align-items: center;
    }

    &__menulist{
        display: flex;
        align-items: center;
        width: 27.44rem;
        gap: 8.71%;
        position: fixed;
        top: unset;
        right: 2.8rem;
        font-family:g.$fontMp
    }

    &__logo{
        position: absolute;
        left: 0.625rem;
        top: 1rem;
        height: auto;
        width: clamp(1rem, 66vw, 18rem);
        
        @include g.tab{
            left: 2rem;
            top: 1.5rem;
        }
        @include g.pc{
            left: 4rem;
            top: -3.7rem;
            width: clamp(1rem, 66vw, 24rem);
        }
    }

    &__logo--area{
        position: relative;
    }
}