@use "../../foundation/global/index" as g;

.p-menu{
    cursor: pointer;
    display: flex;
    position: fixed;
    flex-direction: column;
    top:0;
    right: -100%;
    width: 100%;
    height: 100dvh;
    min-height: 100%;
    background-color: g.$color-beige;
    //transition: all 0.3s linear 5ms;
    z-index: 1000;
    visibility: inherit;
    overflow-y: auto;
    &::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        background-image: url("../picture/background.webp");
        background-size: contain;
        background-position: center;
        opacity: 0.55; // ← 擬似要素で背景画像だけが薄くなる！
        z-index: -1;
    }
    &__menulist{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 18%;
        font-size: 2rem;
        font-family: g.$fontMp;
    }
    &__list{
        color: g.$color-black;
        padding: 2.2rem 0;
        }
    &__inner{
        position: relative;
        font-size: 1rem;
        z-index: 0;
        @include g.tab{
            font-size: 1.5rem;
        }
    }
    &__contents{
        height: 100dvh;
    }
    @include g.pc{
        display: none;
    }
    &.open{
        right:0;
        position: fixed;
    }

}