@use "../../foundation/global/index" as g;

.p-swiper {
    width:auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: relative;
    &__wrapper {
    /* wrapperのサイズを調整 */
    width: 100%;
    height: 100%;
  }

  &__slide {
    /* スライドのサイズを調整、中身のテキスト配置調整、背景色 */
    color: #ffffff;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 300px;
    &:nth-child(3n + 1) {
        /*1、4、7、3n+1枚目の背景色 */
        background-color: g.$color-black;
    }
    &:nth-child(3n + 2) {
        /*2、5、8、3n+2枚目の背景色 */
        background-color: g.$color-gray;
    }  
    &:nth-child(3n + 3) {
    /*3、6、9、3n+3枚目の背景色 */
        background-color: g.$color-lightGray;
    }
    img{
      max-width: 90%;
      max-height: 80vh;
      object-fit: contain;
      display: block;
      margin: 0 auto;
    }
  }
}

//swiperのスタイル

  
  .swiper-slide {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // aspect-ratio: 1/1;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    img {
      width: 80% !important;
      max-width: 90vw;
      max-height: 70vh;
      position: absolute;
      // aspect-ratio: 1/1;
      object-fit: contain;
      @include g.pc {
        // width: 45.25% !important;
        // max-width: 50vw;
        // max-height: 60vh;
      }
    }
  }
  .swiper-button-next{
    right: 0rem !important;
    @include g.pc{
      right: 10px;
    }
    &::after{
      color: g.$color-white !important;
      font-size: 1.875rem !important;
      @include g.pc{
        font-size: 2.75rem !important;
      }
    }
  }
  .swiper-button-prev{
    left: 0rem !important;
    @include g.pc{
      left: 10px;
    }
    &::after{
      color: g.$color-white !important;
      font-size: 1.875rem !important;
      @include g.pc{
        font-size: 2.75rem !important;
      }
    }
  }
  .swiper-pagination{
    &-bullets{
      bottom: 7.7% !important;
      position: fixed;
      @include g.pc{
        bottom: 11.7% !important;
        position: fixed;
      }
    }
    &-bullet{
      --swiper-theme-color: white;
    }
  }

  .swiper-scrollbar{
    display: none ;
  }
  
  // Swiperでのタッチ操作を許可
.swiper,
.p-swiper {
  touch-action: pan-x pan-y;
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  height: 100vh !important;
}
